# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
/target
/.idea/
/sl-jobmgt-sys.iml
/src/test/
/src/main/resources/rebel.xml
/src/main/resources/rebel-remote.xml
/Fonts/
/logs/
/gc/
/web/
/LOG_PATH_IS_UNDEFINED/
/jrebel-classpath-8308.jar
/jrebel-classpath-1628.jar
/jrebel-classpath-*.jar
/identifier.sqlite
/main.sql
/test.json
